/* This style sheet formats various tables in the website. */

    h1 {
      background-color: black;
      color: white;
    }
    table {
      border-collapse: collapse;
    }
    table, th, td {
      border: 1px solid black;
    }  
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
